*.dcu
*.drc
*.dcu
*.~*
*.zip
*.bak
*.stat
*.cfg
*.hpp
*.dsk
*.ddp
*.dll
*.DLL
*.exe
*.EXE
*.bkm
*.identcache
*.local
*.gex
*.elf
*.log
cxVer.inc
vssver.scc
vss.vcx
/db/Mssql/PromanDbUp.INI
/db/Mssql/NROF/Spesialfelter for NROF.doc
vss.vcx
*.gex
*.dof
*.map
*.dex
*.cbk
*.old
*.klr
*.$$$
*.rsm
[tT]humbs.db
__history/
__recovery/
**/iOSSimulator/Debug/
**/iOSSimulator/Release/
**/iOSDevice/Debug/
**/iOSDevice/Release/
**/iOSDevice64/Debug/
**/iOSDevice64/Release/
**/iOSDevice32/Debug/
**/iOSDevice32/Release/
**/Win32/Debug/
**/Win32/Release/
**/Win64/Debug/
**/Win64/Release/
**/Android/Debug/
**/Android/Release/
